h1 {
 color: purple;
 text-align: center;
 
}

form.recherche {
	position: absolute;
	top: 6em;
}
  
.contact_global{
	border-width:4px;
	border-style:solid;
	border-color:pink;  
	width:70vw;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 100px;
	font-family: Verdana, sans-serif;
	text-align: justify;
}
.photo{
	position: absolute;
    top: 	220px;
    right: 200px;
    width: 70vm;
	}
.Formation{
	border-width:4px;
	border-style:solid;
	border-color:pink;
	width:70vw;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	font-family: Verdana, sans-serif;
	text-align: justify

}
.Experience{
	border-width:4px;
	border-style:solid;
	border-color:pink;
	width:70vw;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
    font-family: Verdana, sans-serif;
	text-align: justify

}

.Competences
{
	border-width:4px;
	border-style:solid;
	border-color:pink;
	width:70vw;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	border-radius: 10px;
	font-family: Verdana, sans-serif;
	text-align: justify
}

.autre
{
	border-width:4px;
	border-style:solid;
	border-color:pink;
	width:70vw;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 10px;
	font-family: Verdana, sans-serif;
	text-align: justify
}

body
{
	border-width:1px;
	border-style:solid;
	border-color:black;
	background-color: AE4D92;
}
.mdl-slider__container {
    background-color: Khaki !important; /* Met le fond de la barre en blanc */
    position: fixed !important; /* Permet de définir la position de la barre comme fixe */
    top: 0; /* Défini la postion de la barre en haut */
    z-index: 200; /* Une valeur élevée ici permet de s'assurer que l'élément est au dessus des autres */
    width: 100vw; /* Défini la largeur de l'élément comme étant 100% de la largeur de l'écran */
}
